name: DevOps Intern CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Run Python Script
        run: python hello.py

      - name: Run Shell Script
        run: |
          chmod +x scripts/sysinfo.sh
          ./scripts/sysinfo.sh